{{ define "main" }}
{{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
{{ $.Scratch.Set "lastYear" ""}}
<div class="container">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Liste</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Detay</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


            <br />
            <h1 class="text-center">{{ .Title }}</h1> <!--{{ .Type | humanize}}  /  {{ $.Site.Params.baslik }}-->
            {{ range .Pages }}
              {{ $year := .Date.Year }}
              {{ $lastYear := $.Scratch.Get "lastYear"}}
              <div class="row mt-2">
                <div class="d-none d-sm-block col-sm-2 mt-auto offset-sm-2 text-right">
                  <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time>
                </div>
                <div class="col">
                  {{ if ne $year $lastYear }}
                    <p class="text-muted mt-5">{{ $year }}</p>
                    {{ $.Scratch.Set "lastYear" $year }}
                  {{ end }}
                  <a class="text-body" href="{{ .URL | relURL }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
                </div>
              </div>
            {{ end }}



        </div>





        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            {{ $recentposts := 5 }}
            {{ if .Params.recentposts }}
              {{ $recentposts = .Params.recentposts }}
            {{ end }}

            {{ range first 100 (where .Pages "Type" "posts" ) }}

            <br />
            <div class="jumbotron">
            
            {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" style="max-width:200px"/>{{ end }} <!-- burası sayfadan resim alır/   -->
            
            
                <h2 class="mt-5"><a class="text-body" href="{{ .URL | relURL}}">{{ .Title | markdownify}}</a></h2>
                {{ if .Params.Subtitle }}
                  <h3 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h2>
                {{ end }}
            
                <p class="text-muted mt-3">
                  <a class="text-muted" href="{{ .Permalink }}">Yayınlanma 	&nbsp;<i class="fa fa-calendar"></i> {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</a>
              <br />
                {{ if .Params.tags }}<i class="fa fa-tags"></i>{{ end }} {{ range .Params.tags }}
                    <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                  {{ end }}
                
            <br />
              {{ if .Params.categories }} <i class="fa fa-folder-open"></i> {{ end }} {{ range .Params.categories }}
                    <a class="text-muted" href="{{ "/categories/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
                  {{ end }}
                </p>
            
            
            
            
                <article class="article">
                  <p style="max-width: 70em;font-size: 1em;">{{ .Summary }}</p>
                </article>
            
                <p class="text-muted">Okuma süresi: {{ .ReadingTime }} dakika <i class="fa fa-hourglass-1"></i> </p>
                
            </div>
              {{ end }}
            




              <button onclick="topFunction()" id="myBtn" title="Go to top">başa dön</button>

         
              
              <script>
              //Get the button
              var mybutton = document.getElementById("myBtn");
              
              // When the user scrolls down 20px from the top of the document, show the button
              window.onscroll = function() {scrollFunction()};
              
              function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  mybutton.style.display = "block";
                } else {
                  mybutton.style.display = "none";
                }
              }
              
              // When the user clicks on the button, scroll to the top of the document
              function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
              }
              </script>


          


        </div>
        
      </div>





</div>






{{ end }}
